{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
    {% embed "components/organisms/fullPage.html.twig" %}
        {% block content %}
            <div class="container-fluid text-light">
                <h1 class="text-dark col-10 mx-auto">Clique sur un joueur pour connaitre ses statistiques</h1>
                <div class="row row-cols-1 g-2 g-lg-3 w-100">
                    {% for joueur in joueurs %}
                    {{ component('joueur', {
                        joueur: joueur,
                    }) }}
                    {% endfor %}
                </div>
            </div>

        {% endblock %}
    {% endembed %}
{% endblock %}
