{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
    {% embed "components/organisms/fullPage.html.twig" %}
        {% block content %}
            {% for convocation in convocations %}
                {{ component('convocation', {
                    convocation: convocation,
                }) }}
            {% endfor %}
        {% endblock %}
    {% endembed %}
{% endblock %}
