{% extends "@!EasyAdmin/page/content.html.twig" %}

{% set pageTitle = "Dashboard" %}

{% block title %}
    {{pageTitle | trans}}
{% endblock %}

{% block content_title %}
    {{pageTitle | trans}}
{% endblock %}

{% block page_actions %}
    <a href="{{path('app_convocation')}}" class="btn-dark btn-lg text-end">{% trans %}Back to ermont{% endtrans %}</a>
{% endblock %}

{% block main %}
{% endblock %}
