<nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">{{club}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href={{path('app_convocation')}}>Convocation
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{path('app_effectif')}}>Effectif</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href={{path('app_classement')}}>Classement</a>
                </li>
            </ul>
            {{ component('search_convocation') }}
        </div>
    </div>
</nav>
