<div
    class="py-2">
    <!-- Modal -->
    <div class="modal fade" id="{{convocation.adversaire}}{{convocation.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{convocation.adversaire}}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    {% for item in convocation.joueurs %}
                        <p class="d-flex justify-content-evenly">
                            <span>{{item}}</span>
                            <span>{{item.nom}}</span>
                            <span>{{item.poste}}</span>
                        </p>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                </div>
            </div>
        </div>
    </div>
    {# Modal #}
    <div class="card text-white bg-success mb-3">
        <div class="card-header d-flex justify-content-evenly">
            Ermont
            <i class="fa-solid fa-skull-crossbones"></i>
            {{convocation.adversaire}}
        </div>
        <div class="card-body">
            {% autoescape false %}
                <h5 class="card-title">
                    {{convocation.resultat | default('Résultat du match:')}}
                </h5>
            {% endautoescape %}
            <p class="card-text">{{convocation.adversaire.adresse}}</p>
            <p class="card-text d-flex justify-content-evenly shadow p-2" type="button" data-bs-toggle="collapse" data-bs-target="#{{convocation.adversaire}}{{convocation.id}}collapse" aria-expanded="false" aria-controls="{{convocation.adversaire}}{{convocation.id}}collapse">
                <span>
                    <i class="fa-solid fa-futbol px-1"></i>Voir les buteurs
                </span>
                <i class="fa-brands fa-d-and-d"></i>
                <span>
                    <i class="fa-solid fa-handshake-angle px-1"></i>Voir les passeurs
                </span>
            </p>
            <div class="d-flex justify-content-around">
                <p class="">Championat</p>
                <p class="">
                    <i class="fa-regular fa-calendar-check px-3"></i>
                    {{convocation.createdAt |format_datetime('short', 'short', locale='fr')}}
                </p>
            </div>
            <p class="card-text shadow p-2 text-center bg-light text-success" data-bs-toggle="modal" data-bs-target="#{{convocation.adversaire}}{{convocation.id}}" type="button">
                <i class="fa-solid fa-envelopes-bulk px-1"></i>
                <span>Liste des joueurs convoqués</span>
            </p>
        </div>
    </div>
    <div>
        {% autoescape false %}
            <div class="collapse collapse-horizontal pb-3" id="{{convocation.adversaire}}{{convocation.id}}collapse">
                <div class="card card-body" style="width: 300px;">{{convocation.description | default('Description non mise à jour')}}</div>
            </div>
        {% endautoescape %}
    </div>
</div>
