<div class="col d-flex justify-content-between fs-4" type="button" data-bs-toggle="collapse" data-bs-target="#{{joueur.nom}}{{joueur.id}}" aria-expanded="false" aria-controls="collapseWidthExample">

<div class="col-9 card p-1 bg-{{joueur.poste.couleur}}">
    <span>
        {{joueur.nom}}
        {{joueur.preNom}}
    </span>
</div>
<div class="text-center col-2 card p-1 bg-{{joueur.poste.couleur}}">
    {{joueur.poste}}
</div>
</div>
<div class="collapse collapse-horizontal" id="{{joueur.nom}}{{joueur.id}}">
<div class="card card-body text-primary" style="width: 300px;">
    {% autoescape false %}
        <span>Nombre de but:
            {{joueur.buts | raw | default('<i class="fa-solid fa-face-grin-beam-sweat"></i>')}}
        </span>
        <span>Nombre de passe:
            {{joueur.passes | raw | default('<i class="fa-solid fa-face-grin-beam-sweat"></i>')}}
        </span>
        <span>Nombre de matchs:
         {{joueur.convocations | length}}

        </span>
    {% endautoescape %}
</div>
</div>