<div {{ attributes }}>
    <input type="search" data-model="query" placeholder="Recherche">

    <div class="p-2" data-loading="addClass(opacity-50)">
        {% for convocation in this.convocations %}
            {{ component('convocation', {
                convocation: convocation,
            }) }}
        {% endfor %}
        {% for joueur in this.joueurs %}
            {{ component('joueur', {
            joueur: joueur,
        }) }}
        {% endfor %}
    </div>
</div>
