{% extends 'base.html.twig' %}

{% block title %}Hello ClassementController!
{% endblock %}

{% block body %}
    {% embed "components/organisms/fullPage.html.twig" %}
        {% block content %}
            <table class="table table-striped">
                <thead>
                    <tr class="text-center">
                        <th>{{ knp_pagination_sortable(pagination, 'Prénom', 'j.prenom') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Nom', 'j.nom') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Buts', 'j.buts') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Passes', 'j.passes') }}</th>
                            <th>Poste</th>
                    </tr>
                </thead>
                <tbody>
                    {% for joueur in pagination %}
                        <tr>
                            <td>
                                {{joueur.prenom}}
                            </td>
                            <td>
                                {{joueur.nom}}
                            </td>
                            <td>
                                {{joueur.buts | default(0)}}
                            </td>
                            <td>
                                {{joueur.passes | default(0)}}
                            </td>
                            <td>
                                {{joueur.poste.nom}}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
